body {
    padding-top: 60px;
}

.push-right10 {
    margin-left: 10px;
}

.notice-bar span {
    font-size: 18px;
    line-height: 22px;
}

/* Login page */
.form-cool {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-cool .form-cool-heading,
.form-cool .checkbox {
    margin-bottom: 10px;
}
.form-cool input[type="text"],
.form-cool input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Classes page */
.page-classes a.active {
    text-decoration: underline;
}
.class-header {
    background-color: #ededed;
    padding: 0px 5px;
}
.class-sort {
    margin-bottom: 5px;
}
.class-list .span3, .class-list .span4, .class-list .span5,
.class-list .span6, .class-list .span7, .class-list .span8,
.class-list .span9, .class-list .span10, .class-list .span11,
.class-list .span12 {
    margin-left:0px;
    padding-left:29px;
}
.class-list li.class-details {
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
}
.class-session, .class-assignments {
    padding: 0px 5px 10px 5px;
}
.class-assignments li {
    margin-bottom: 5px;
}

/* Search page */
.form-search {
    max-width: 360px;
    padding: 15px 29px 25px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-search .form-search-heading {
    margin-bottom: 10px;
}
.form-search div, .form-search .input-append {
    margin-bottom: 14px;
}

/* Search results page */
.page-results a.active {
    text-decoration: underline;
}
.results-header {
    background-color: #ededed;
    padding: 0px 5px;
}
.results-sort {
    margin-bottom: 5px;
}
.results-list .span3, .results-list .span9 {
    margin-left:0px;
    padding-left:10px;
}
.results-list li.results-details {
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
}
.results-score, .results-fork {
    padding: 0px 5px 10px 18px;
}
.results-info {
    padding: 0px 5px 10px 5px;
}
.results-score h4 {
    display: inline;
}

/* Home page */
.carousel .title{
    color: #292929;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.carousel .lead{
    color: #7A7A7A;
    text-shadow: 0;
}

.carousel {
    margin-bottom: 60px;
    margin-left: -200px;
    margin-right: -150px;
    margin-top: -50px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    /*height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;*/
    border: 0;
    z-index: 10;
}

.carousel-inner {
    padding-left: 20px;
}

.carousel .item {
    height: 500px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
    padding-left: 30px;
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -15px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* Modals */
#modal-graph {
    width: 800px;
    margin: 0 0 0 -400px;
}